@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
    font-family: 'Anurati';
    src: url('../../assets/fonts/Anurati-Regular.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

html {
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    color: white;
    padding: 0 50px;
    position: fixed;
    top: 5%; 
    width: calc(100% - 100px); 
    margin: 0 auto; 
    z-index: 1000;
    transition: top 0.3s;
}

.nav-links {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 2vw; 
    margin: auto;
}

.nav-links li {
    padding: 8px 12px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 15px; /* Add padding for better click area */
    border-radius: 10px; /* Optional rounded corners */
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.nav-links a:hover {
    background-color: #ffffff58; /* Change background color on hover */
    color: white; /* Ensure text color remains visible */
    transition: background-color 0.3s ease; 
}

.nav-links a.current-page {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navbar img {
    height: 8vh;
    width: auto;
    object-fit: contain;
}

.title {
    text-align: center;
    position: relative;
}

.title h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 5.3rem;
    font-weight: 400;
    margin-top: 20vh;
    color: #FF7100;
}

.title name {
    font-family: 'Anurati', sans-serif;
    font-size: 5.3rem;
    margin-top: 20vh;
    font-weight: 400;
    color: #FF7100;
}

.title img {
    width: 25vw;
    height: auto;
}

.content {
    font-family: 'Comfortaa', sans-serif;
    text-align: left;
    margin-top: 40vh;
    position: relative;
    display: flex;
    flex-direction: column; /* Add this line */
    justify-content: flex-start; /* Change this line */
    align-items: flex-start; /* Change this line */
    margin: 2rem 0;
}

.content video{
    width: 25vw;
    height: auto;
}

.content img {
    width: 25vw;
    height: auto;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #FF7100;
    margin-left: 20;
    line-height: 1.5;
    max-width: 30%;
}

.content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    margin-left: 20;
    line-height: 1.5;
    max-width: 30%;
}

.footer {
    background-color: black;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    padding-top: 15vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div {
    flex: 1;
    text-align: center;
}

.footer h1 {
    color: #FF7100;
    font-size: 3.7rem;
    font-weight: 400;
    line-height: 1.25;
}

.footer h2 {
    color: #FF7100;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2;
}

.footer p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
}

/* Add this at the end of your CSS file */
.animate {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Final state for elements when they become visible */
.visible {
  opacity: 1;
  transform: translateY(0);
}