@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
    font-family: 'Anurati';
    src: url('../../assets/fonts/Anurati-Regular.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

html {
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    color: white;
    padding: 0 50px;
    position: fixed;
    top: 5%; 
    width: calc(100% - 100px); 
    margin: 0 auto; 
    z-index: 1000;
    transition: top 0.3s;
}

.nav-links {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 2vw; 
    margin: auto;
}

.nav-links li {
    padding: 8px 12px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 15px; /* Add padding for better click area */
    border-radius: 10px; /* Optional rounded corners */
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.nav-links a:hover {
    background-color: #ffffff58; /* Change background color on hover */
    color: white; /* Ensure text color remains visible */
    transition: background-color 0.3s ease; 
}

.nav-links a.current-page {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navbar img {
    height: 8vh;
    width: auto;
    object-fit: contain;
}

.riptide {
    font-family: 'Comfortaa', sans-serif;
    text-align: right;
    margin-top: 300px;  
    position: relative;
}

.riptide h1 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
    margin-right: 450px;
    line-height: 1.5;
}

.riptide h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
    margin-right: 310px;
    line-height: 1.25;
}

.riptide name {
    font-family: 'Anurati', Roboto, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: #FF7100;
    margin-right: 270px;
    line-height: 1.25;
    text-decoration: none;
}

.riptide a name {
    text-decoration: none;
}

.riptide img {
    width: 25%;
    height: auto;
    object-fit: contain;
    margin-top: -250px;
    margin-left: 300px;
    float: left;
}

.riptide overlay {
    position: absolute;
    top: 0;
    right: 250px;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.cobalt {
    font-family: 'Comfortaa', sans-serif;
    text-align: left;
    margin-top: 200px;  
}

.cobalt h1 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
    margin-left: 300px;
    line-height: 1.5;
}

.cobalt h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
    margin-left: 345px;
    line-height: 1.25;
}

.cobalt name {
    font-family: 'Anurati', roboto, sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    color: #015aaa;
    margin-left: 270px;
    line-height: 1.25;
    letter-spacing: 0.1em;
}

.cobalt img {
    width: 25%;
    height: auto;
    object-fit: contain;
    margin-top: -250px;
    margin-right: 300px;
    float: right;
}

.cobalt overlay {
    position: absolute;
    top: 650px;
    left: 250px;
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.hungry {
    font-family: 'Comfortaa', sans-serif;
    text-align: right;
    margin-top: 200px;  
}

.hungry h1 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
    margin-right: 450px;
    line-height: 1.5;
}

.hungry h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ffffff;
    margin-right: 310px;
    line-height: 1.25;
}

.hungry name {
    font-family: 'Anurati', sans-serif;
    font-size: 4.2rem;
    font-weight: 400;
    color: white;
    margin-right: 270px;
    line-height: 1.25;
    letter-spacing: 0.1em;
}

.hungry img {
    width: 25%;
    height: auto;
    object-fit: contain;
    margin-top: -250px;
    margin-left: 300px;
    float: left;
}

.hungry overlay {
    position: absolute;
    top: 1050px;
    right: 250px;
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.footer {
    background-color: black;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    padding: 70px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div {
    flex: 1;
    text-align: center;
}

.footer h1 {
    color: #FF7100;
    font-size: 3.7rem;
    font-weight: 400;
    line-height: 1.25;
}

.footer h2 {
    color: #FF7100;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2;
}

.footer p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
}