@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
    font-family: 'Anurati';
    src: url('../../assets/fonts/Anurati-Regular.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

html {
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    color: white;
    padding: 0 50px;
    position: fixed;
    top: 5%;
    width: calc(100% - 100px);
    margin: 0 auto;
    z-index: 1000;
    transition: top 0.3s;
}

.nav-links {
    list-style: none;
    text-align: center;
    display: flex;
    gap: 2vw; 
    margin: auto;
}

.nav-links li {
    padding: 8px 12px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 15px; 
    border-radius: 10px; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.nav-links a:hover {
    background-color: #ffffff58;
    color: white;
}

.nav-links a.current-page {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navbar img {
    height: 8vh;
    width: auto;
    object-fit: contain;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
}

.banner img {
    margin-top: 15vh;
    height: 35vh;
    width: 100vw;
    float: center;
    object-fit: cover;
}

.comp {
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    margin-top: 5vh;
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.comp h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #FF7100;
    line-height: 2;
}

.comp p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    line-height: 2;
}

.footer {
    background-color: black;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    padding: 70px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div {
    flex: 1;
    text-align: center;
}

.footer h1 {
    color: #FF7100;
    font-size: 3.7rem;
    font-weight: 400;
    line-height: 1.25;
}

.footer h2 {
    color: #FF7100;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2;
}

.footer p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.footer img {
    height: 3vh;
    width: auto;
    object-fit: contain;
}

.footer a {
    text-decoration: none;
}

.title-animate {
    opacity: 0;
    transform: translate(-50%, 30px); /* Move down initially while keeping horizontal translation */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.title-animate.visible {
    opacity: 1;
    transform: translate(-50%, -50%); /* Move to its original position */
}

.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .subtitle {
        top: 1rem; /* Adjust as needed */
        left: 0.5rem; /* Adjust as needed */
        font-size: 1rem; /* Adjust as needed */
    }

    .video-container {
        top: 2rem; /* Adjust as needed */
        left: 0.5rem; /* Adjust as needed */
        width: 90vw; /* Adjust as needed */
    }
}